.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

}

.title{
    color: #333333;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.bubbles {
    position: absolute;
    left: 0;
    bottom: -2%;
}

.titleBox{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

