.main,
.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.main {
   margin: 5rem auto;
}


.main a {
    background-color: #F6949E;
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    color: #FAFAFA;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;

    margin-top: 5rem;
}

.first {
    display: flex;
    align-items: center;
}

.pigText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 36rem;
}

.pigText h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-align: right;
    color: #333333;
    margin-bottom: 2rem;
}

.pigText p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
    max-width: 30rem;
    color: #000000;
    margin-bottom: 2rem;
    opacity: 0.7;
}

.second h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
    color: #333333;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.rectangle{
    display: flex;
    align-items: center;
}


.second p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    max-width: 42rem;
    color: #000000;
    margin-bottom: 3rem;
    opacity: 0.7;
}

.bubbles {
    position: absolute;
    left: 0;
    bottom: -24%;
}