.header{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
    align-items: center;
}

.logo a {
    color: #FB4A4A;
    font-weight: bold;
    font-size: 3rem;
}

.pages {
    align-items: center;
    display: flex;
}

.pages a + a{
    margin-left: 1.5rem;
}

.pages a {
    font-size: 1.2rem;
    font-weight: bold;
}

.pages a:nth-child(1){
    background-color: #F6949E;
    padding: 0.6rem 0.6rem;
    border-radius: 0.4rem;
    color: #FAFAFA;
}

.pages a:nth-child(2){
    color: #F6949E;
    border: 0.3rem solid #F6949E;
    padding: 0.3rem 2em;
    border-radius: 0.4rem;
    background-color: #FAFAFA;

}
