.footer {
    width: 100%;
    background-color: #333333;
    color: #FAFAFA;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: relative;
}

.footer p {
    font-size: 1.8rem;
    font-weight: 500;
}