.currency{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #F6CACF;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: center;
}

.currencyName{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333333;
    align-items: center;
    padding: 1rem 4rem;
}

.currencyName p:nth-child(1){
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #333333;
    margin-bottom: 1.2rem;
    text-align: center;
}

.currencyName p:nth-child(2){
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 36px;
    color: #333333;
    margin-bottom: 1rem;
}

.currencyInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.currencyInfo > p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #333333;
}

.currencyInfo p + p {
    margin-top: 0.4rem;
}


.currencyUpdate p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2.5rem;
}